*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    position: relative;
    background: rgb(89, 89, 51);
    overflow: hidden;
}

#box{
    /* background: green;0 */
    font-size: 50px;
    letter-spacing: 0;
    line-height: 0;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    color: pink;

    transform: rotate(90deg);
    position: absolute;
    text-align: center;

    top: 0;
    left: 0;
    transition: 0.2s;
}

.control-panel {
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-buttons {
    display: flex;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.btn:hover {
    background-color: #e0e0e0;
}
